@model UxComexGerenciadorPedidos.Domain.Entities.Client
@{
    Int32 ClientId = Model?.Id ?? 0;
    String ClientName = Model?.Name ?? "";
    String ClientEmail = Model?.Email ?? "";
    String ClientTelephone = Model?.Telephone ?? "";
}
<div>
    <div class="container w-50 p-0">
        <div class="h1 text-center text-white bg-danger">Update Client</div>
    </div>
    <br />
    <div class="container border border-1 w-50 p-4">
        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label for="inputClientId" class="form-label">Client Id:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="@ClientId" id="txtClientId" disabled>
                </div>
            </div>

        </div>
        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput2" class="form-label">Full Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" value="@ClientName" id="txtClientName" />
                </div>
            </div>

        </div>
        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput2" class="form-label">E-mail:</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" value="@ClientEmail" id="txtClientEmail" />
                </div>
            </div>

        </div>
        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput2" class="form-label">Telephone:</label>
                </div>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" placeholder="Telephone" aria-label="Telephone" value="@ClientTelephone" id="txtClientTelephone" />
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="container border border-1 w-50 p-2 text-center">
        <form method="post" id="frmSaveClient">
            <input type="submit" class="form-control btn btn-danger w-25" value="Save" />
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //$("#txtProductId :disabled").css("")
        $("#frmSaveClient").submit(function (event) {
            event.preventDefault();
    
            var clientId = @Model?.Id;
            var clientName = $("#txtClientName").val();
            var clientEmail = $("#txtClientEmail").val();
            var clientTelephone = $("#txtClientTelephone").val();

            $.ajax({
                url: "/Client/Update",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ id: clientId, name: clientName, email: clientEmail, telephone: clientTelephone }),
                success: function (data) {

                },
                error: function (xhr, status, error) {
                    console.log('Erro na requisição:' + error);
                }
            });

        });
    });
</script>
